<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-53253619-2"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-53253619-2');
</script>

<!-- Adding JQuery for interactive demos -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready( function(){

    $.ajax({
        type: "GET",
        url: "api.clungu.com:5000/name",
        contentType: "application/json",
        dataType: "json",
        data: {
           "pattern": "Name..",
           "affinity": ["myth", "greek", "names", "startups"],
           "timeout": 10
        },
        success: function(data, textStatus, jqXHR){
           alert(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
           alert(data);
        },
        timeout: 100,
    });
});
</script>

